body {
	margin: 0;
	background: #000000;
}

span.material-icons {
	user-select: none;
}

div#nav_bar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, #212121, #000000);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 1);
	text-align: center;
	z-index: 100;
}

div#nav_bar div {
	/*display: inline-block;*/
	display: inline;
}

div#nav_bar div span.material-icons {
	font-size: 40px;
	color: #D51B19;
	margin: 20px;
}

div#nav_bar div#show_nav_menu span.material-icons {
	float: left;
}

div#nav_bar div#nav_search span.material-icons {
	float: right;
}

div#nav_bar div#nav_bar_logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 20px);
}

div#nav_bar div#nav_bar_logo img {
	height: 40px;
	width: auto;
}

div#nav_menu {
	position: fixed;
	width: 0.001%;
	height: 0.001%;
	background: rgba(0, 0, 0, 0.92);
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 110;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
	border-radius: 0% 0% 100% 0%;
}

div#nav_menu div#close_nav_menu {}

div#nav_menu div#close_nav_menu span.material-icons {
	margin: 20px;
	font-size: 40px;
	color: #FFFFFF;
}

div#nav_menu div#nav_menu_cnt {
	padding: 0px 20px 20px 20px;
	transition-duration: 0.2s;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select {
	user-select: none;
	text-align: center;
	margin-bottom: 20px;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container {
	display: inline-block;
	border: 1px solid #D51B19;
	border-radius: 400px;
	background: rgba(0, 0, 0, 0);
	padding: 10px 14px;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span {
	color: #D51B19;
	display: inline-block;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span.material-icons {
	font-size: 24px;
	transform: translateY(3px);
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span.others {
	font-size: 20px;
	transform: translateY(-2px);
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
}

div#nav_menu div#nav_menu_cnt span.title {
	font-family: 'Zen Tokyo Zoo', cursive;
	font-size: 2.4em;
	color: #D51B19;
	user-select: none;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options {}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options button.nav_menu_cnt_option {
	user-select: none;
	display: block;
	padding: 14px 24px;
	background: rgba(0, 0, 0, 0);
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 1.12em;
	box-sizing: border-box;
	width: 100%;
	border: none;
	color: #FFFFFF;
	border-radius: 0px;
	text-align: left;
	margin: 20px 0px;
	border-left: 1px solid #FFFFFF;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options button.nav_menu_cnt_option:focus {
	border-left: 20px solid #FFFFFF;
	background: rgba(255, 255, 255, 1);
	color: #000000;
	font-weight: 600;
}

/* MAIN PART */

div#main_part {
	position: fixed;
	width: 100%;
	/*overflow-x: hidden;*/
	overflow: scroll;
	opacity: 1;
	left: 0px;
	top: 80px;
	background: rgba(0, 0, 0, 0);
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
}

div#main_part div#loading_animation {
	margin: 20px;
	background: rgba(0, 0, 0, 0);
	text-align: center;
}

div#main_part div#loading_animation img {
	display: inline-block;
	max-width: 40%;
	height: auto;
}

div#main_part div.section {
	padding: 20px;
	display: none;
}

div#main_part div.section span.title {
	display: block;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 1.4em;
	box-sizing: border-box;
	color: #D51B19;
	margin: 20px;
}

div#main_part div.section span.desc {
	display: block;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	box-sizing: border-box;
	line-height: 1.4em;
	color: #FFFFFF;
}

div#main_part div.section#asking_for_cookies div.button_container button#accept_cookies {
	background: #D51B19;
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	border: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 400px;
	padding: 10px;
	font-size: 1em;
	margin: 40px 0px;
}

div#main_part div.section div.go_back {
	margin-bottom: 20px;
	border-radius: 400px;
	background: #1F1F1F;
	width: fit-content;
	padding: 10px;
}

div#main_part div.section div.go_back span.material-icons {
	color: #8F8F8F;
	transform: translateY(2px);
	display: inline-block;
}

div#main_part div.section div.go_back span.msg {
	color: #8F8F8F;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	margin: 0px 10px 0px 4px;
	transform: translateY(-4px);
	display: inline-block;
}

div#main_part div.section div.button_container button {
	background: rgba(0, 0, 0, 0);
	border: 1px solid #D51B19;
	width: 100%;
	box-sizing: border-box;
	margin: 20px 0px;
	border-radius: 20px;
	overflow: hidden;
	padding: 0;
	display: block;
	transform: translateX(0px);
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
}

div#main_part div.section div.button_container button span.material-icons {
	font-size: 48px;
	margin: 20px;
	color: #D51B19;
}

div#main_part div.section div.button_container button span.text {
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	background: #D51B19;
	border: 1px solid #D51B19;
	font-weight: 600;
	padding: 14px;
	font-size: 1.2em;
	text-align: center;
	display: block;
	margin: 0;
}

div#main_part div.section#page_2_take_away_1_to_home div#contact_address_form span.input_header {
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 1em;
	display: block;
	margin: 40px 0px 4px 0px;
}

div#main_part div.section#page_2_take_away_1_to_home div#contact_address_form input.input_asker {
	box-sizing: border-box;
	width: 100%;
	display: block;
	padding: 10px 12px;
	color: #AFAFAF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	border: 1px solid #D51B19;
	background: rgba(0, 0, 0, 0);
}

div#main_part div.section#page_2_take_away_1_to_home div#contact_address_form input:focus {
	outline: none;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

div#main_part div.section#page_2_take_away_1_to_home div#contact_address_form select {
	box-sizing: border-box;
	width: 100%;
	display: block;
	padding: 10px 12px;
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	border: 1px solid #D51B19;
	background: rgba(0, 0, 0, 0);
}

div#main_part div.section#page_2_take_away_1_to_home div#contact_address_form select:focus {
	outline: none;
}

div#main_part div.section#page_2_take_away_1_to_home div#contact_address_form select option {
	background: #D51B19;
	color: #FFFFFF;
}

div#main_part div.section#page_2_take_away_1_to_home div#contact_address_form button#save_contact_address {
	background: #D51B19;
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	border: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 400px;
	padding: 10px;
	font-size: 1em;
	margin: 40px 0px;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options {
	margin: 20px 0px;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options div.allergen_option {
	display: block;
	border: 1px solid #2F2F2F;
	margin: 10px 0px;
	user-select: none;
	background: rgba(255, 255, 255, 0);
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options div.allergen_option.no_chosen {}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options div.allergen_option.chosen {
	background: rgba(255, 255, 255, 1);
	box-shadow: inset 4px 4px 10px #000000;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options div.allergen_option div.pre_1_allergen_page_of_dish_menu_selected {
	display: inline-block;
	overflow: hidden;
	width: 0px;
	height: 0px;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options div.allergen_option div.pre_1_allergen_page_of_dish_menu_selected img {
	width: 1.2em;
	height: auto;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options div.allergen_option div.all_allergen_options_option_desc_container {
	margin: 0;
	padding: 10px 10px 10px 10px;
	background: rgba(0, 0, 0, 0);
	border-radius: 0px;
	text-align: left;
	transition-duration: 0.12s;
	display: inline-block;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options div.allergen_option div.all_allergen_options_option_desc_container span.opt_title {
	font-family: 'Work Sans', sans-serif;
	color: #D51B19;
	font-weight: 600;
	font-size: 1.2em;
	display: block;
	text-align: left;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div#all_allergen_options div.allergen_option div.all_allergen_options_option_desc_container span.opt_desc {
	font-family: 'Work Sans', sans-serif;
	color: #8F8F8F;
	font-weight: 400;
	font-size: 1em;
	display: block;
	text-align: left;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div.button_container {
	border: none;
}

div#main_part div.section#pre_1_allergen_page_of_dish_menu div.button_container button {
	border: none;
	border-radius: 400px;
}

div#dish_description_floating_window {
	display: none;
	left: 0;
	top: 80px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 80;
	opacity: 0;
	transition-duration: 0.2s;
}

div#dish_description_floating_window div#dish_description_floating_window_bg {
	background: rgba(0, 0, 0, 0.92);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}

div#dish_description_floating_window div#dish_description_floating_window_container {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	border-radius: 10px;
	background: #121212;
	transform: scale(88%);
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 1);
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_bar {
	margin: 0;
	padding: 10px;
	background: #2F2F2F;
	color: #FFFFFF;
	text-align: right;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_bar span.material-icons {}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt {
	background: #121212;
	padding: 10px 10px 40px 10px;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt span.sub_title {
	font-family: 'Work Sans', sans-serif;
	display: block;
	font-weight: 400;
	font-size: 0.8em;
	margin: 20px 0px 10px 0px;
	border-bottom: 1px solid #AFAFAF;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt span.sub_title span {
	background: #AFAFAF;
	color: #000000;
	padding: 4px;
	border-radius: 4px 4px 0px 0px;
	display: inline-block;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_img {
	display: block;
	text-align: center;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_img img {
	max-width: 100%;
	display: inline;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_title {
	font-family: 'Work Sans', sans-serif;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_title span#dish_description_floating_window_cnt_title_number {
	color: #FFFFFF;
	background: #D51B19;
	padding: 4px;
	border-radius: 4px;
	font-weight: 400;
	font-size: 1em;
	display: block;
	width: fit-content;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_title span#dish_description_floating_window_cnt_title_name {
	color: #D51B19;
	margin-top: 4px;
	font-weight: 600;
	font-size: 1.4em;
	display: block;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_allergen {
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_allergen ul li.non_usr_allergic {
	padding: 0px;
	border-radius: 0px;
	border: none;
	background: rgba(0, 0, 0, 0);
	width: fit-content;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_allergen ul li.usr_allergic {
	padding: 2px;
	border-radius: 2px;
	border: 2px solid #D51B19;
	background: #2F2F2F;
	width: fit-content;
}

div#dish_description_floating_window div#dish_description_floating_window_container div#dish_description_floating_window_cnt div#dish_description_floating_window_cnt_text {
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 400;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container {
	margin: 0px;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table {
	width: 100%;
	border: none;
	color: #FFFFFF;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td {
	width: 50%;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container {
	border-radius: 6px;
	border: 1px solid #222222;
	background: #222222;
	margin: 10px;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container img.main_dish_image {
	width: 100%;
	box-sizing: border-box;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_number {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	font-size: 1em;
	border: none;
	margin: 0;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_desc {
	font-family: 'Work Sans', sans-serif;
	padding: 10px;
	text-align: center;
	background: #FFFFFF;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_desc span.main_dish_desc_title {
	font-weight: 600;
	color: #D51B19;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options {
	margin: 10px;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options button {
	font-family: 'Work Sans', sans-serif;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	border-radius: 400px;
	transition-duration: 0.1s;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options button:hover {
	transform: scale(88%);
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options button.main_dish_order {
	border: none;
	background: #D51B19;
	font-weight: 600;
	color: #FFFFFF;
}

div#main_part div.section#page_of_dish_menu div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options button.main_dish_info {
	border: 1px solid #FFFFFF;
	background: rgba(0, 0, 0, 0);
	margin-top: 8px;
	color: #FFFFFF;
	font-weight: 400;
}