body {
	margin: 0;
	background: #FFFFFF;
}

span.material-icons {
	user-select: none;
}

div#nav_bar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #FFFFFF;
	text-align: center;
	z-index: 100;
}

div#nav_bar div {
	/*display: inline-block;*/
	display: inline;
}

div#nav_bar div span.material-icons {
	font-size: 40px;
	color: #000000;
	margin: 20px;
}

div#nav_bar div#show_nav_menu span.material-icons {
	float: left;
}

div#nav_bar div#nav_search span.material-icons {
	float: right;
}

div#nav_bar div#nav_bar_logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 20px);
}

div#nav_bar div#nav_bar_logo img {
	height: 40px;
	width: auto;
}

div#nav_menu {
	position: fixed;
	width: 0.001%;
	height: 0.001%;
	background: rgba(255, 255, 255, 0.92);
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 110;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
	border-radius: 0% 0% 100% 0%;
}

div#nav_menu div#close_nav_menu {}

div#nav_menu div#close_nav_menu span.material-icons {
	margin: 20px;
	font-size: 40px;
	color: #000000;
}

div#nav_menu div#nav_menu_cnt {
	padding: 0px 20px 20px 20px;
	transition-duration: 0.2s;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select {
	user-select: none;
	text-align: center;
	margin-bottom: 20px;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container {
	display: inline-block;
	border: 1px solid #D51B19;
	border-radius: 400px;
	background: rgba(0, 0, 0, 0);
	padding: 10px 14px;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span {
	color: #D51B19;
	display: inline-block;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span.material-icons {
	font-size: 24px;
	transform: translateY(3px);
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span.others {
	font-size: 20px;
	transform: translateY(-2px);
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 600;
}

div#nav_menu div#nav_menu_cnt span.title {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-size: 2.4em;
	font-weight: 600;
	color: #D51B19;
	user-select: none;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options {}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options button.nav_menu_cnt_option {
	user-select: none;
	display: block;
	padding: 14px 24px;
	background: rgba(0, 0, 0, 0);
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	font-size: 1.12em;
	box-sizing: border-box;
	width: 100%;
	border: none;
	color: #000000;
	border-radius: 0px;
	text-align: left;
	margin: 20px 0px;
	border-left: 1px solid #000000;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options button.nav_menu_cnt_option:focus {
	border-left: 20px solid #000000;
	background: rgba(0, 0, 0, 1);
	color: #FFFFFF;
	font-weight: 600;
}

div#cover {
	background: url("https://first.junhaoliu.repl.co/resources/sushi_bg.jpg");
	background-size: 100% auto;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

div#cover div#coverbg {
	background: rgba(255, 218, 218, 0);
	z-index: 1;
}

div#cover div#coverbg div#cover_container {
	padding: 80px 20px 20px 20px;
}

div#cover div#coverbg div#cover_container div#logo {
	text-align: center;
}

div#cover div#coverbg div#cover_container div#logo img {
	display: inline;
	max-width: 56%;
	/*filter: drop-shadow(0px 6px 14px rgba(0, 0, 0, 1));*/
}

div#cover div#coverbg div#cover_container div#cover_theName {
	text-align: center;
	color: #000000;
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	letter-spacing: 2px;
	/*text-shadow: 0px 2px 6px rgba(0, 0, 0, 1);*/
	margin-top: 40px;
}

div#main_section {
	background: #FFFFFF;
	padding: 20px;
}

div#main_section div#main_section_qustion {
	text-align: center;
	margin-bottom: 20px;
}

div#main_section div#main_section_qustion span.question_main {
	display: inline;
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	color: #000000;
	font-weight: 600;
	font-size: 1.6em;
}

div#main_section div#main_section_qustion span.question_jp {
	display: inline;
	font-family: 'Noto Sans JP', sans-serif;
	color: #D51B19;
	font-weight: 400;
	font-size: 1em;
}

div#main_section div#main_section_random_dish {
	text-align: center;
}

div#main_section div#main_section_random_dish img#main_section_random_dish_img {
	display: inline;
	max-width: 70%;
}

div#main_section div#main_section_buttons {
	margin-top: 20px;
	text-align: center;
}

div#main_section div#main_section_buttons button {
	border-radius: 400px;
	width: 60%;
	text-align: center;
	padding: 10px 40px;
	margin: 6px 0px;
	display: inline-block;
	user-select: none;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
}

div#main_section div#main_section_buttons button:focus {
	transform: scale(88%);
}

div#main_section div#main_section_buttons button.main_section_menu {
	background: #D51B19;
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	border: none;
}

div#main_section div#main_section_buttons button.main_section_info {
	border: 1px solid #000000;
	background: #FFFFFF;
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	color: #000000;
	font-weight: 400;
}

div#news {
	padding: 20px;
}

div#news span.title {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-size: 2.4em;
	color: #D51B19;
	font-weight: 600;
	letter-spacing: initial;
}

div#news div.news_post {
	background: #E8E8E8;
	border-radius: 10px;
	border: none;
	overflow: hidden;
	user-select: none;
	transition-duration: 0.1s;
	margin-top: 10px;
}

div#news div.news_post div.news_post_prev {}

div#news div.news_post div.news_post_prev img {
	width: 100%;
	height: auto;
}

div#news div.news_post div.news_post_cnt {
	padding: 20px;
}

div#news div.news_post div.news_post_cnt span.news_post_title {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 600;
	color: #000000;
	display: block;
	margin-bottom: 10px;
}

div#news div.news_post div.news_post_cnt span.news_post_desc {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	color: #4F4F4F;
	display: block;
}

div#news_viewer {
	position: fixed;
	left: 0;
	top: 125%;
	width: 100%;
	height:	100%;
	z-index: 120;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
}

div#news_viewer div#news_viewer_container {
	background: #F0F0F0;
}

div#news_viewer div#news_viewer_container div#news_viewer_bar {
	padding: 20px;
}

div#news_viewer div#news_viewer_container div#news_viewer_bar span.title {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 600;
	color: #2F2F2F;
	font-size: 20px;
}

div#news_viewer div#news_viewer_container div#news_viewer_bar span.material-icons {
	font-size: 24px;
	float: right;
	color: #000000;
}

div#news_viewer div#news_viewer_container iframe {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

div#footer {
	background: #F0F0F0;
	padding: 40px 0px;
}

div#footer div#footer_the_logo {
	padding: 20px;
	text-align: center;
}

div#footer div#footer_the_logo img.footer_the_logo_img {
	display: inline-block;
	height: 40px;
}

div#footer div#footer_social_media {
	padding: 20px;
	text-align: center;
}

div#footer div span.title {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 300;
	color: #4F4F4F;
	letter-spacing: 2px;
	display: inline-block;
	margin: 10px;
}

div#footer div#footer_social_media div#footer_social_media_choices {
	border: none;
}

div#footer div#footer_social_media div#footer_social_media_choices div.social_media_option {
	border: 1px solid #4F4F4F;
	border-radius: 50%;
	display: inline-block;
	padding: 20px;
	margin: 10px;
}

div#footer div#footer_social_media div#footer_social_media_choices div.social_media_option img.social_media_option_img {
	width: 28px;
	height: auto;
	display: block;
}

div#footer div#footer_contact {
	text-align: center;
}

div#footer div#footer_contact span.telephone_number {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 600;
	color: #2F2F2F;
}

div#footer div#footer_contact span.others {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	color: #4F4F4F;
}

div#footer div#footer_copyright {
	padding: 20px;
	text-align: center;
}

div#footer div#footer_copyright span.others {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	color: #6F6F6F;
}