body {
	margin: 0;
	background: #000000;
}

span.material-icons {
	user-select: none;
}

div#nav_bar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, #212121, #000000);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 1);
	text-align: center;
	z-index: 100;
}

div#nav_bar div {
	/*display: inline-block;*/
	display: inline;
}

div#nav_bar div span.material-icons {
	font-size: 40px;
	color: #D51B19;
	margin: 20px;
}

div#nav_bar div#show_nav_menu span.material-icons {
	float: left;
}

div#nav_bar div#nav_search span.material-icons {
	float: right;
}

div#nav_bar div#nav_bar_logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 20px);
}

div#nav_bar div#nav_bar_logo img {
	height: 40px;
	width: auto;
}

div#nav_menu {
	position: fixed;
	width: 0.001%;
	height: 0.001%;
	background: rgba(0, 0, 0, 0.92);
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 110;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
	border-radius: 0% 0% 100% 0%;
}

div#nav_menu div#close_nav_menu {}

div#nav_menu div#close_nav_menu span.material-icons {
	margin: 20px;
	font-size: 40px;
	color: #FFFFFF;
}

div#nav_menu div#nav_menu_cnt {
	padding: 0px 20px 20px 20px;
	transition-duration: 0.2s;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select {
	user-select: none;
	text-align: center;
	margin-bottom: 20px;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container {
	display: inline-block;
	border: 1px solid #D51B19;
	border-radius: 400px;
	background: rgba(0, 0, 0, 0);
	padding: 10px 14px;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span {
	color: #D51B19;
	display: inline-block;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span.material-icons {
	font-size: 24px;
	transform: translateY(3px);
}

div#nav_menu div#nav_menu_cnt div#nav_menu_lang_select div#nav_menu_lang_select_container span.others {
	font-size: 20px;
	transform: translateY(-2px);
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 600;
}

div#nav_menu div#nav_menu_cnt span.title {
	font-family: 'Zen Tokyo Zoo', cursive;
	font-size: 2.4em;
	color: #D51B19;
	user-select: none;
}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options {}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options button.nav_menu_cnt_option {
	user-select: none;
	display: block;
	padding: 14px 24px;
	background: rgba(0, 0, 0, 0);
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	font-size: 1.12em;
	box-sizing: border-box;
	width: 100%;
	border: none;
	color: #FFFFFF;
	border-radius: 0px;
	text-align: left;
	margin: 20px 0px;
	border-left: 1px solid #FFFFFF;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(.36, 0, 0, 1);
}

div#nav_menu div#nav_menu_cnt div#nav_menu_cnt_options button.nav_menu_cnt_option:focus {
	border-left: 20px solid #FFFFFF;
	background: rgba(255, 255, 255, 1);
	color: #000000;
	font-weight: 600;
}

/* MAIN */

div#main {
	display: block;
}

div#main div#main_header {
	padding: 20px;
}

div#main div#main_header span.title {
	font-family: 'Zen Tokyo Zoo', cursive;
	font-size: 2.4em;
	color: #D51B19;
	user-select: none;
	display: block;
}

div#main div#main_header span.desc {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	display: block;
}

div#main div#main_header span.desc span#desc_menu_chosen {
	color: #D51B19;
	margin: 0em 4px;
}

div#main div#main_all_dishes {}

div#main div#main_all_dishes div#main_all_dishes_container {
	margin: 10px;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table {
	width: 100%;
	border: none;
	color: #FFFFFF;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td {
	width: 50%;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container {
	border-radius: 6px;
	border: 1px solid #222222;
	background: #222222;
	margin: 10px;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container img.main_dish_image {
	width: 100%;
	box-sizing: border-box;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_number {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	font-size: 1em;
	border: none;
	margin: 0;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_desc {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	padding: 10px;
	text-align: center;
	background: #FFFFFF;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_desc span.main_dish_desc_title {
	font-weight: 600;
	color: #D51B19;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options {
	margin: 10px;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options button {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	border-radius: 400px;
	transition-duration: 0.1s;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options button:focus {
	transform: scale(88%);
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options button.main_dish_order {
	border: none;
	background: #D51B19;
	font-weight: 600;
	color: #FFFFFF;
}

div#main div#main_all_dishes div#main_all_dishes_container table#main_all_dishes_table tr td div.main_all_dishes_dish_container div.main_dish_options button.main_dish_info {
	border: 1px solid #FFFFFF;
	background: rgba(0, 0, 0, 0);
	margin-top: 8px;
	color: #FFFFFF;
	font-weight: 400;
}


/* -- MAIN ENDS -- */

div#footer {
	background: #101010;
	padding: 40px 0px;
}

div#footer div#footer_the_logo {
	padding: 20px;
	text-align: center;
}

div#footer div#footer_the_logo img.footer_the_logo_img {
	display: inline-block;
	height: 40px;
}

div#footer div#footer_social_media {
	padding: 20px;
	text-align: center;
}

div#footer div span.title {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 300;
	color: #8A8A8A;
	letter-spacing: 2px;
	display: inline-block;
	margin: 10px;
}

div#footer div#footer_social_media div#footer_social_media_choices {
	border: none;
}

div#footer div#footer_social_media div#footer_social_media_choices div.social_media_option {
	border: none;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.16);
	display: inline-block;
	padding: 20px;
	margin: 10px;
}

div#footer div#footer_social_media div#footer_social_media_choices div.social_media_option img.social_media_option_img {
	width: 28px;
	height: auto;
	display: block;
}

div#footer div#footer_contact {
	text-align: center;
}

div#footer div#footer_contact span.telephone_number {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 600;
	color: #AFAFAF;
}

div#footer div#footer_contact span.others {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	color: #7F7F7F;
}

div#footer div#footer_copyright {
	padding: 20px;
	text-align: center;
}

div#footer div#footer_copyright span.others {
	font-family: 'Work Sans', 'Noto Sans SC', sans-serif;
	font-weight: 400;
	color: #4F4F4F;
}